.contact-body1 {
    background-color: #607EAA;
    padding: 50px;
    border-radius: 0px;
}
.contact-body2 {
    /*background-color: #F9F5EB;
    padding: 50px;
    border-radius: 0px;*/
}
.contact {
    /*background-color: darkgrey;
    padding: 50px;
    border-radius: 10px;*/
}
