/* MADE BY MAYANKKUMAR PATEL */

.job-card {
    /* width: 25.8rem; */
    /* height: 228px; */
    background-color: #F0F0F0;
    border-radius: 25px;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
}

.job-card .job-title p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

.job-card img {
    height: 60px;
    width: 84px;
}

.white-badge {
    height: 38px;
    width: 106px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.white-badge p {
    font-size: 15px;
}

.job-desc {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}