/* MADE BY PIYUSH AKOLIYA */

.storyCard {
  /* background-color: #2c74b3; */
  padding: 1.2em;
  flex-direction: column;
  width: 30%;
  border-radius: 30px;
  font-size: 1.02em;
  box-shadow: 2px 4px 4px #144272;
  margin-bottom: 1em;
  color: white;
}
.person {
  text-align: end;
  margin: 0;
}

.storyList {
  display: flex;
  justify-content: space-around;
}

.successStoriesHeader {
  padding-top: 1.3em;
  color: #205295;
  text-shadow: 2px 2px 4px #607eaa;
  font-size: 3em;
}

.successStoriesSection {
  background-color: white;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #2c74b3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.successStoriesSection {
  padding: 2em;
}
